[project]
	description = Rich content editing entirely re-imagined for the web
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Brady Stone (bradystone)
[access "refs/for/refs/*"]
	read = group user/Brady Stone (bradystone)
	push = group user/Brady Stone (bradystone)
	label-Code-Review = -2..+2 group user/Brady Stone (bradystone)
	label-Verified = -1..+1 group user/Brady Stone (bradystone)
	rebase = group user/Brady Stone (bradystone)
	removeReviewer = group user/Brady Stone (bradystone)
	submit = group user/Brady Stone (bradystone)
[access "refs/heads/*"]
	read = group user/Brady Stone (bradystone)
	create = group user/Brady Stone (bradystone)
	push = +force group user/Brady Stone (bradystone)
	pushMerge = group user/Brady Stone (bradystone)
[access "refs/tags/*"]
	push = group user/Brady Stone (bradystone)
	push = +force group user/Brady Stone (bradystone)
